input.user-login-submit-button, button.user-login-submit-button {
  background: transparent url(../images/my_email_login304x41.gif) no-repeat scroll left top  !important;
  display: block;
  background-position: 0px 0px !important; 
  border: none !important;
  border-radius: 0px !important;
  cursor: pointer;
  width: 304px;
  height: 41px;
  background-color: transparent !important;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
} 

.ui-dialog {
  width: 32% !important;
}

.ui-dialog-content {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.ui-dialog-buttonset {
  margin-bottom: 30px !important;
  margin-left: 29px !important;
}