{%  set base_url = url('<front>')  %}

{#=============================================================================
   Render "Log in" and "Register" links.
=============================================================================#}

<div class="flexbox-container">
  <a href="{{ base_url }}/members2/login">{{ 'Log in'|t }}</a>
  <a href="{{ base_url }}/members2/register">{{ 'Register'|t }}</a>
</div>

{#=============================================================================
   Render social login links.
=============================================================================#}

<a href="{{ base_url }}/members2/login/facebook">
  <img src="{{ host }}/{{ module_path }}/images/my_facebooklogin_332x40.gif" 
    alt="{{ 'Login through @social_network_name' | t({'@social_network_name': 'Facebook'}) }}">
</a>

<a href="{{ base_url }}/members2/login/google">
  <img src="{{ host }}/{{ module_path }}/images/my_google_login332x41.gif" 
    alt="{{ 'Login through @social_network_name' | t({'@social_network_name': 'Google'}) }}">
</a>

{#=============================================================================
   Render login form.
=============================================================================#}

{{ login_form }}

{#=============================================================================
   Render "Forgot your password?" link
=============================================================================#}

<a href="{{ base_url }}/members2/password">{{ 'Forgot your password?'|t }}</a>